@model IEnumerable<FoodHunter.Web.AppLayer.ViewModels.List.NewsListViewModel>

@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model) {
    <div class="container well block">
        <div class="row">
            <div class="col-md-3 image text-center">
                <h2> <img src="images/photo.jpg" alt="@Html.DisplayFor(modelItem => item.NewsPicture)"></h2>
            </div>
            <div class="col-md-9">
                <table>
                    <tr>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 no_pad">
                                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                                    <b>@Html.DisplayFor(modelItem => item.RestaurantName)</b>
                                </div>
                                <div class="col-md-3 no_pad date">
                                    <h4>@Html.DisplayFor(modelItem => item.PostedOn)</h4>
                                </div>
                            </div>
                        </div>
                    </tr>

                    <tr>
                        <p>@Html.DisplayFor(modelItem => item.NewsBody)...@Html.ActionLink("Continue Reading", "Details", "News", new { id = item.NewsId }, null)</p> 
                    </tr>
                </table>
            </div>
        </div>
    </div>



}

